@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "TRMS - Biometric Attendance Management System - About Us";
}

<div class="wrapper-page">
    <h1>TRMS - About Us</h1>
    <h3>We have following features in our application:</h3>
    <ol class="round">
        <li class="one">
            <h4>Getting Started</h4>
            Building upon the confidence and satisfaction of over 1,000 clients across Pakistan and gaining success across the globe with a complete HRM/HCM Solution for over 30 industry verticals, the domain of Human Resource Management Solutions has been completely revamped by TimeTrax: The Cloud-based integrated solution for Biometric Attendance, Leave, Payroll, Travel, Document, Training, Recruitment, HR Analytics and Performance Management.
        </li>

        <li class="two">
            <h4>Modules Management</h4>
            <ul>
                <li>Manage Users and Roles</li>
                <li>Manage Departments and Designation</li>
                <li>Manage Functions and Regions</li>
                <li>Manage Locations and Groups</li>
                <li>Manage Manual Attendance</li>
            </ul>
        </li>

        <li class="three">
            <h4>View Reports</h4>
            <ul>
                <li>Monthly Timesheet</li>
                <li>Consolidated Attendance</li>
                <li>Department Wise Report</li>
                <li>Attendance Summary</li>
                <li>Audit Log</li>
            </ul>
        </li>
    </ol>
</div>