<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="TimeTune" connectionString="Data Source=192.168.1.144\sqlexpress2012; Initial Catalog=TRMS_DUHS; User Id=sa; Password=resco@1234; Integrated Security=False"/>-->
    <!--<add name="TimeTune" connectionString="Data Source=192.168.1.144\sqlexpress2012; Initial Catalog=TimeTune_RESCO; User Id=sa; Password=resco@1234; Integrated Security=False"/>-->
    <add name="TimeTune" connectionString="Data Source=.; Initial Catalog=TRMS_DUHS; User Id=sa; Password=resco123!; Integrated Security=False" />
  </connectionStrings>
  <appSettings>
    <!-- The format of the date must be dd-MM-yyyy two digits for date and month are necessary. -->
    <add key="attendance-effective-date" value="01-11-2019" />
    <add key="off-day-01" value="5" />
    <add key="off-day-02" value="12" />
    <add key="attendance-off-Day" value="Sunday" />
    <add key="attendance-off-Day2" value="Saturday" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>