
<h4 style="font-weight: bold;">Employee Management</h4>

        <h5 style="font-weight: bold;">Manual Uploads</h5>

        <div class="form-group">
            <form>
                <div class="col-md-15">
                    <div class="row">
                        <label class="control-label col-xs-2">Function Data</label>
                        <div class="col-xs-2"><input type="file"></div>

                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Region Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Department Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Designation Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Employee IDs Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Leaves Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Grades Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>

                    <div class="row">
                        <label class="control-label col-xs-2">Shifts Data</label>
                        <div class="col-xs-2"><input type="file"></div>
                    </div>
                    <div class="row">
                        <div class=" col-xs-2 ">
                            <button type="submit" value="Submit">Upload Files</button>
                            </div>
                        </div>
                </div>
            </form>
        </div>


        @section JS {
            <script>
                $(document).ready(function () {
                    $('#accordion').accordion("option", "active", 1);
                    $("input[type=submit], button").button();
                    
                    setActiveLink("Manual Uploads");
                });

            </script>
        }
