

<h4 style="font-weight: bold;">Attendance Summary</h4>
<div class="row">
    <div class="form-group col-md-3">
        

        @using (Html.BeginForm("AttendanceSummarytDataHandler", "Reports", FormMethod.Post, new { id = "report-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
          

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">From Date</label>
                    <input type="text" class="form-control datepicker" name="from_date" style="background-color: #FFF" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">To Date</label>
                    <input type="text" class="form-control datepicker" name="to_date" style="background-color: #FFF" required>
                </div>
            </div>
          <div class="row">
                    <div class="col-md-12" style="margin-top:5px">
                        <button type="submit" value="Submit">Get Report</button>
                        <button type="reset" value="Reset">Reset</button>
                    </div>
                </div>
        }

    </div>


    <div class="col-md-9">
        <h5 style="font-weight: bold;">Attendance Report</h5>

        <table id="report_table" class="display cell-border" width="100%">
            <thead>

                <tr>
                    <th>Employee Number</th>
                    <th>Present</th>
                    <th>On Time</th>
                    <th>Late</th>
                    <th>Early Out</th>
                    <th>Absent</th>

                </tr>

            </thead>
            <tbody></tbody>
        </table>
        <button type="submit" id="btnExport" style="margin-top:5px">Export excel</button>

    </div>
</div>

@section JS {
<script type="text/javascript" src="@Href("~/Scripts/chosen.ajaxaddition.jquery.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#accordion').accordion("option", "active", 5);
        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        setActiveLink("Attendance Summary");



        setupTableExportButton('#report_table', '#btnExport', 'AttendanceSummary');

        /*
        $('#btnExport').button();
        $("#btnExport").click(function (e) {
            $('#report_table').tableExport({ type: 'excel', escape: 'false' });
            e.preventDefault();
        });
        */


        $('.hasDatepicker').keydown(function (e) {
            var unicode = e.keyCode ? e.keyCode : e.charCode;
            if (unicode != 13 && unicode != 8 && unicode != 9) {



                e.preventDefault();
            }
        });
        $("input[type=submit], button").button();
    });
    
    function checkSubmit(id) {

        fDate = $(id).find('[name*="from_date"]').val().split("-").reverse();
        tDate = $(id).find('[name*="to_date"]').val().split("-").reverse();


        fDate = new Date(fDate[0] + "-" + fDate[1] + "-" + fDate[2]);
        tDate = new Date(tDate[0] + "-" + tDate[1] + "-" + tDate[2]);
        
        if (tDate < fDate) {
            alert("To date should be greater than from date.");
            return false;
        }

        return true;
    }




    function initReportDataTable(identifier,url,columns) {
        var oTable = $(identifier).DataTable({
            "searchDelay": 2000,
            "scrollY": "300px",
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": url,
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {

                    data.from_date = $('#report-form').find('[name*="from_date"]').val();;
                    data.to_date = $('#report-form').find('[name*="to_date"]').val();
                    return data = JSON.stringify(data);
                }
            },
            "scrollX": true,
            "scrollCollapse": true,
            "processing": true,
            "paging": true,
            "deferRender": true,
            "columns": columns,
            "order": [0, "asc"],

            "iDisplayLength": 500,
            "aLengthMenu": [[10, 25, 50, 100, 500, 1000, 1500], [10, 25, 50, 100, 500, 1000, 1500]]

        });

        oTable.on("draw", function () {
            var keyword = $(identifier + '_filter > label:eq(0) > input').val();
            $(identifier).unmark();
            $(identifier).mark(keyword, {});



            $(identifier + ' tbody tr').click(function (e) {
                $('tr.row_selected').removeClass('row_selected');
                $(this).addClass('row_selected');
            });
        });


        // set the z-index of the 'processing...' overlay
        // to a great number, so that it may always display
        // on top of the table. Also set the text color
        // to black as it is white by default.
        $(identifier + '_processing').css({
            "z-index": "1000",
            "color": "rgb(0, 0, 0)"
        });


        // initiate search one second after the user
        // stops typing.
        function setSearchDelayOnDataTable(idSelector) {
            // remove all events from the search box
            $(idSelector + '_filter input').off();


            function customDataTableSearch() {

                // get the entered string
                var toSearch = $(idSelector + '_filter input').val();

                // do nothing if the string is null.
                // I've not tested this, it is just
                // in case.
                if (toSearch == null) {
                    return;
                }

                // initiate search programatically.
                $(idSelector).DataTable().search(toSearch).draw();
            }

            // this variable holds the timer
            var timeout;

            // register a keypress on the search box
            $(idSelector + '_filter input').keypress(function () {
                if (timeout != null) {
                    clearTimeout(timeout);
                    timeout = null;
                }

                // timeout set to 1 second.
                timeout = setTimeout(customDataTableSearch, 1000);
            });

        }

        setSearchDelayOnDataTable(identifier);
    }


    var url = '@Url.Action("AttendanceSummaryDataHandler", "Reports", null, Request.Url.Scheme)';
    var columns = [
   { "data": "employeeCode" },
   { "data": "present" },
   { "data": "ontime" },
   { "data": "late" },
   { "data": "earlyGone" },
   { "data": "absent" }
    ];

    initReportDataTable('#report_table', url, columns);
    
    $('#report-form').on("submit", function (e) {

        if (checkSubmit('#report-form')) {
            var toSearch = $("#report_table_filter input").val();
            
            //var fDate = $('#report-form').find('[name*="from_date"]').val();
            //var tDate = $('#report-form').find('[name*="to_date"]').val();
            $("#report_table").DataTable().search(toSearch).draw();
            
        }


        e.preventDefault(); 
        
    });
    </script>
    }
