
<h4 style="font-weight: bold;">Change Password</h4>
<div class="row">
    <div class="form-group col-md-3">
        <h5 style="font-weight: bold;">Account Information</h5>
        <form id="chg_pass">
           
            <div class="row">
                 <div class="col-md-12">
                    <label class="control-label">Username</label>
                    <select class="chzn-select" name="users" style="width:100%;">
                        <option value="AC">A</option>
                        <option value="AD">B</option>
                        <option value="AM">C</option>
                        <option value="AP">D</option>
                    </select>
                 </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <label class="control-label">Old Password</label>
                    <input type="password" class="form-control" id="old_pass" pattern=".{6,}" oninput="setCustomValidity('');" oninvalid="setCustomValidity('Password should contain at least 6 characters.');" required>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <label class="control-label">New Password</label>
                    <input type="password" class="form-control" id="new_pass" pattern=".{6,}" oninput="setCustomValidity('');" oninvalid="setCustomValidity('Password should contain at least 6 characters.');" required>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cfm_pass" required>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-12" style="margin-top:5px">
                    <button type="submit" value="Submit">Change Password</button>
                </div>
            </div>
        </form>
    </div>

</div>


@section JS {
    <script>
        
        $(document).ready(function () {
            $('#accordion').accordion("option", "active", 0);

            $(".chzn-select").chosen();
            $("input[type=submit], button").button();

            $('#chg_pass').on("submit", function () {
                var password = $("#new_pass").val();
                var confirmPassword = $("#cfm_pass").val();
                if (password != confirmPassword) {
                    alert("Passwords do not match. Re-enter passwords");
                    return false;
                }
                return true;

            });

        });



    </script>
}
