<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="EBI" connectionString="Data Source=172.22.22.1; Initial Catalog=Shadow; User Id=resco; Password=resco123!; Integrated Security=False" />-->
    <!--<add name="EBI" connectionString="Data Source=.; Initial Catalog=Shadow; User Id=sa; Password=resco123!; Integrated Security=False"/>-->
    <!--connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TimeTune.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="Shadow" connectionString="SERVER=103.4.92.87;DATABASE=shadow;User Id=root;PASSWORD=root;SslMode =none;port=3306;Connect timeout=9600; default command timeout=0" providerName="MySql.Data.MySqlClient" />
    <add name="TimeTune" connectionString="Data Source=192.168.1.144; Initial Catalog=TRMS_DUHS; User Id=sa; Password=resco@1234; Integrated Security=False" />
  </connectionStrings>
</configuration>