<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!-- TRMS - T -->
    <add name="TimeTune" connectionString="Data Source=.; Initial Catalog=TRMS_DUHS; User Id=sa; Password=resco123!; Integrated Security=False" />

    <!-- INTRMEDIATE - I -->
    <add name="ORC_CMS" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=pdborcl))); User ID=ot; Password=Orcl1234;" />
    <!-- <add name="ORC_CMS" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl))); User ID=system; Password=Resco1234;" /> -->
    
  </connectionStrings>

  <!--<connectionStrings>
    <add name="TimeTune" connectionString="Data Source=10.10.12.51; Initial Catalog=TRMS_DUHS; User Id=sa; Password=resco123; Integrated Security=False" />

    <add name="UNISDataLogMaster" connectionString="Data Source=10.10.12.51; Initial Catalog=UNISDataLog; User Id=sa; Password=resco123; Integrated Security=False" />

    <add name="UNISRegion" connectionString="Data Source=10.10.0.20; Initial Catalog=UNIS; User Id=sa; Password=resco123; Integrated Security=False" />

  </connectionStrings>-->
  <appSettings>
    <add key="CSVorDBImport" value="2" />
    <!-- 0 for CSV and 1 for SQL DB and 2 for Oracle DB -->

    <add key="OracleSQLQuery" value="select * from intr_cms_class_schedules order by id" />
    <!-- <add key="OracleSQLQuery" value="select * from sysadm.std_class order by course_id" /> -->

    <add key="DefaultFilePath" value="E:\IR\TRMS_Project_DUHS\TimeTuneLatest\MvcApplication1\Uploads\" />
    <add key="DefaultFileName" value="sample-schedule-w1-t2-bds-dmc.csv" />
    <add key="SQLConnSeconds" value="900" />
    <!-- 600s = 60 * 10 = 10 min-->

    <add key="DBTimeOut" value="600" />
    <add key="LogTitleText" value="(Push)" />
    <add key="LogSave" value="999" />
    <add key="IsTTLogAllowed" value="1" />

  </appSettings>

</configuration>
